main {
    background-color: darkturquoise;
    padding: 50px;
}

h1{
    font-weight: bold;
    font-size: 30px;
    padding: 50px 20px 20px 20px;
}
form{
    background-color: lightgrey;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 50%;
    margin: 0px auto;
}

input, select, label{
    display: block;
    align-content: center;
    text-align: left;
}

input{
    margin: 0 auto;
    width: 100%;
    margin-bottom: 20px;
    height: 2em;
    border-radius: 5px;
    background-color: lightsteelblue;
    cursor: text;
}

select{
    margin-bottom: 20px;
    height: 2em;
    border-radius: 5px;
    background-color: lightsteelblue;
    cursor: pointer;
}

.option{
    margin-top: 15px;
}

label{
    font-size: 1.3em;
}

.button{
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
    text-align: center;
    font-size: 16px;
    width: 50%;
    margin: 15px auto;
}

table{
    text-align: center;
    width: 75%;
    margin: 80px auto;
    background-color: lightgray;
    border: 2px solid #000000 ;
    border-radius: 15px;
}

td{
    border: 2px solid #000000;
    padding: 5px;   
}

th{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.table-title{
    padding: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;

}

.delete{
    font-size: 10px;
    color: white;
    background-color: red;
    border-radius: 50px;
}
